<html>
  <head>
    <!-- CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    crossorigin="anonymous">

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'bbHOF.js') }}"></script>
    <style>
      #addPlayerForm {
          border: 1px;
          margin: 10px;
      }
      .title {
        margin: 10px;
      }

    </style>
  </head>
  <body>
    <!-- navbar -->
    <div id="navbar-container">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Cooperstown Ref</a>
        <a class="col-md-2 nav-item nav-link" href="/add_item">Add Item</a>
        <a class="col-md-2 nav-item nav-link" href="/search">Search</a>
      </nav>
    </div>
    <div id='content'>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
