{% extends "layout.html" %}
{% block content %}
<div class='col-md-11 container playerContainer'>
  <div class='row'>
    <div class='col-md-1'>
    </div>
    <div class='col-md-6 playerImage'>
    </div>

    <div class='col-md-5'>

      <div class='col-md-11 playerInfo'>
        <div class='row playerDataRow'>
          <div class='col-md-12'>
            <div>
              <span class='infoLabel'>Positions:</span>
            </div>
            <div> <span class='playerDatum'>RightFielder</span> </div>
            <div> <span class='playerDatum'>Pitcher</span> </div>
            <div> <span class='playerDatum'>Catcher</span> </div>

          </div>
        </div>
        <div class='row playerDataRow'>
          <div class='col-md-6'>
            <span class='infoLabel'>Bats:</span> <span class='playerDatum'>Bats</span>
          </div>
          <div class='col-md-6'>
            <span class='infoLabel'>Throws:</span> <span class='playerDatum'>Throws</span>
          </div>
        </div>
        <div class='row playerDataRow'>
          <div class='col-md-6'>
            <span class='infoLabel'>WAR:</span> <span class='playerDatum'>45.0</span>
          </div>
        </div>

      </div>


    </div>
  </div>

  <div class=row>
    <div class='col-md-1'>
    </div>
    <div class='col-md-6 playerInfo'>
      <div class='row playerDataRow'>
          <span class='infoLabel'>Fullname:</span> <span class='playerDatum'>Robin Evan Roberts</span>
      </div>
      <div class='row playerDataRow'>
        <span class='infoLabel'>Born:</span> <span class='playerDatum'>May 15, 1967 in Detroit, MI us</span>
      </div>
    </div>
    <div class='col-md-5'>
    </div>
  </div>


  <div class=row>
    <div class='col-md-1'>
    </div>
    <div class='col-md-6 playerInfo'>
      <div class='row playerDataRow'>
        <div class='col-md-12'>
          <span class='infoLabel'>Rookie Status:</span> <span class='playerDatum'>Exceeded rookie limits during 1988 season</span>
        </div>
      </div>
      <div class='row playerDataRow'>
        <div class='col-md-12'>
          <span class='infoLabel'>Last Game:</span> <span class='playerDatum'>September 3, 1966 (Age 39-338d) vs. PIT 1.0 IP, 4 H, 1 SO, 1 BB, 4 ER</span>
        </div>
      </div>
    </div>
    <div class='col-md-5'>
    </div>
  </div>

  <div class='row playerBio'>
    <div class='col-md-2'>
    </div>
    <div class='col-md-8'>
      This is some txt </br>
      Now its on amn annt a;ldkjfa;dlkfj a;dlkfj
      a;ldkfjal;kdjfal;kjdfnca;lkdnga;lgj
      a;ldkfja;lsdkjfal;sdkjfal;kdfj
      a;lsdkjfalknc;lakv;laalkdsjffffffffffffffffffffffffffffffffffffffffffffffffffffa;lssssssssssssssssssssssssssssssssssssssssssssssssssssss
      a;ldskcnnnnnnnnnnnnnnnnnnnnnnna;lskdnc
      a;lvknnnnnnnnnnnnnnnnnnnnnnnn
    </div>
    <div class='col-md-2'>
    </div>
  </div>
  <div class='col-md-3'>
  </div>





</div>
{% endblock %}
